# tests/*/*.out
# tests/*/
tests/*/output/*
tests/*/compiler-out/*
tests2/*/*.out
tests2/*/
tests3/
tests4/
**/*.a
yes.out
*~*
*#*
emit-cpp.rkt
cpp_program.cpp
compiled
.idea/
.vscode/
build/
trial.rkt
tests3/
dummy.cpp
todo.md
strings_trails.cpp
trial.py
trial.txt
cmake-notes.md
*.sh
runtime-testing/tests_info.md
tin/
brouhaha.rkt
repl.rkt